<div class="form-inline" action="">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label> <input type="text" class="form-control mr-2"
    placeholder="Buscar" [(ngModel)]="filtroLista">

  </div>
</div>
<h3>Filtro:{{filtroLista}} </h3>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>id</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Carga Horária</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos?.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>{{evento.id}}</td>
      <td>{{evento.nome | uppercase}}</td>
      <td>{{evento.bairro}}, {{evento.cidade}}</td>
      <td>{{evento.data | dateTime}}</td>
      <td>{{evento.cargaHoraria}}</td>
      <td>
        <div *ngIf="!evento.lotes?.length">Não informado.</div>
        <div *ngIf="evento.lotes && evento.lotes?.length">{{evento.lotes[0].nome | uppercase}}</div>
      </td>
      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-primary" (click)="openModal(template)" tooltip="Editar" >
            <i class="fa fa-edit"></i>
          </button>
          <button  class="btn btn-sm btn-danger" tooltip="Excluir">
            <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos?.length">
    <tr>
      <td colspan="7" class="text-center">
        <h5>Nenhum evento encontrado.</h5>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>
